body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

#title a {
    background-color: #ff4c68;
    color: #ffffff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem;
    /* haut | horizontal | bas */
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 40%;
    transform: rotate(25deg);
}

.headtext-feature {
    font-weight: bold;
    font-size: 1.5rem;
}

.text-feature {
    color: #8f8f8f;
    font-weight: 500;
}

.icon-feature {
    color: #ef8172;
}

.icon-feature:hover {
    color: #ff4c68;
}

.card-title {
    color: #000000;
}

.card-text {
    color: #000000;
}

.card .card-body {
    display: none;
    text-align: center;
}

.card:hover .card-body {
    display: block;
}

.card-body {
    transition-delay: 0.2s;
    opacity: 0.5;
}

.card {
    cursor: pointer;
}

.container-form {
    max-width: 900px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    color: #8f8f8f;
}

.blackout {
    background-color: #000000;
    color: #000000;
}

.blackout#title a {
    background-color: #000000;
    color: #000000;
}

.footer-dog {
    background-color: #F5EAEA;
}

.blackout.footer-dog {
    background-color: #000000;
    color: #000000;
}

.blackout.margin-dog {
    margin: 0 !important;
}

.bg-btn {
    background-color: #000000;
    color: #ffffff;
}

.bg-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.bg-btn-contact {
    background-color: #ff4c68;
    color: #ffffff;
}

.blackout.form-contact input[type="email"] {
    border-color: #000000;
}

.blackout.form-contact input[type="text"] {
    border-color: #000000;
}

.blackout.text-black {
    border-color: #000000;
}

.hidden {
    display: none;
}